input, button, .btn {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  border: none !important;
}

#copyBtn {
  margin-top: 30px;
}